section.how {
    & > div {
        text-align: center;

        & > p {
            text-align: left;
        }

        & > img {
            width: 50%;
        }

        & + div {
            margin-top: 20px;
        }
    }

    @media (--desktop) {
        align-items: flex-start;

        & > div {
            width: 29%;

            & + div {
                margin-top: 0;
            }

            & > img {
                height: 170px;
                width: auto;
            }
        }
    }
}
