/*
* Success Stories
*/

section.success-stories {
    & > blockquote {
        width: 100%;

        @media (--desktop) {
            width: 46%;
            justify-content: space-around;
        }
    }
}
